# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.uv/
.env

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

# Editors/OS
.idea/
.vscode/
.DS_Store

# Feast
feature_repo/registry.db
**/.feast/**

# Data
/data/
fin_feast/data/
